.worksBlock {
    border: 1px solid red;
    min-height: 100vh;
    background-color: bisque;
}

.worksContainer {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.title {
    background-color: #64677f;
}

.works {
    border: 1px solid red;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
