
.footerBlock {
    border: 1px solid red;
    height: 50vh;
    background-color: white;
}

.footerContainer {
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
}

.title {
    background-color: #64677f;
}

.findMe {
    width: 270px;
    height: 30px;
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}