
.footerBlock {
    border: 1px solid red;
    background-color: white;
}

.footerContainer {
    align-items: center;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
    min-height: 50vh;
}

.title {
    background-color: #64677f;

}

.findMe {
    min-width: 50px;
    max-width: 300px;
    height: 10%;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: center;

    flex-wrap: wrap;
}